body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 50px auto;
  min-height: 100vh;
  background-color: #f4f4f4;
}

/* Navigation Bar */
nav {
  background-color: #6eaa6b;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-end;
  text-align: right;
  height: 40px;
}

div {
  display: block;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  transition: background-color 0.3s; /* Add transition for smooth effect */
}

div:hover {
  background-color: #ddd;
  color: black;
}

main {
  padding: 20px;
}

h1, p {
  color: #333;
}
/* ///////////////////////////// */

